{% load static %}
<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta name="description" content="SSC_Consult, CRM ">

   
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
   

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Sascha Schmittinger</title>
    {% endif %}

  </head>

  <body>

      {% include "leads/navbar.html" %}
    
      {% block start %}
      {% endblock start %}
     
   
  </body>
</html>
